127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for item in groups['all'] %}
{% if (ansible_os_family | lower) == "debian" %}
{{ hostvars[item]['ansible_enp0s8']['ipv4']['address'] }} {{ hostvars[item]['ansible_fqdn'] }}
{% elif (ansible_os_family | lower) == "redhat" %}
{{ hostvars[item]['ansible_eth1']['ipv4']['address'] }} {{ hostvars[item]['ansible_fqdn'] }}
{% endif %}
{% endfor %}
